* {
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #424242;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 8px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}



